<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="exportSettings" type="DBVer.Configuration.ExportSettingsSection, DBVer" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="SkipUseStatement" value="false" />
    <add key="SingleThread" value="false" />
    <add key="MultipleFilesPerObject" value="false" />
  </appSettings>
  
  <exportSettings>
    <nameReplacement>
      <!-- Possible types: Table, View, StoredProcedure, UserDefinedFunction, Trigger -->

      <!--<group type="Table">
        <add pattern="^Test\d+$" replacement="Test%" />
        <add pattern="SkipThisTable" replacement="" />
      </group>
      <group type="View">
        <add pattern="^(.*)_view$" replacement="View$1" />
      </group>-->
    </nameReplacement>
    <dictionaries>
      <!--<add name="State" />
      <add name="dbo.Country" />-->
    </dictionaries>
  </exportSettings>
</configuration>